[2017-06-01 18:45] ldez commented on #244
We already had this kind of conversation: it's the standard Atom's package naming.

https://atom.io/packages/search?q=preview

I prefer keep the current naming.

[2017-06-02 01:43] mojavelinux commented on #244
Basically what we're saying is that Atom is inconsistent...which is really no surprise given the lack of direction for the community.

What I'm most concerned about is new packages being introduced and not having any guidance within this organization. Perhaps we can try to reason about the logic so that we can establish a policy.

[2017-06-10 08:54] talfash opened #245 "Allow displaying PDF output in preview"
## Description
Currently, this preview displays only HTML output. In my team we use it mostly to emit a PDF. The hardest part is the page transitions - once we finish editing the content, we currently do numerous iterations of make -> review -> fix to make sure all page-breaks are synced with the content.

We often have a sentence like `As displayed in the following image:` and then comes that ima

[2017-06-10 10:36] ldez commented on #245
Thanks for your interest.

Currently, the only way to render a PDF from an asciidoc file is to call `asciidoctor-pdf`, there is no JS library to do it.

If you are on Linux, you can use our `save-as-pdf` feature to generate the pdf document and if your document is already open in you PDF viewer, the PDF document will be updated without closing, each time you save the PDF.
But this doesn't work on

[2017-06-10 10:56] ldez commented on #245
As workaround you can use the package [pdf-view](https://github.com/izuzak/atom-pdf-view) in Atom.
- open the PDF in Atom
- move the PDF view to a right pane
- edit your doc
- save your doc and call our feature `AsciiDoc: Export as PDF` (right click on the file in the treeview)
- the PDF in updated automatically

[2017-06-14 12:08] bysslord opened #246 "Internal cross references not work with Chinese"
## Internal cross references not work with Chinese

But work fine with English

- Atom version: 1.17.1 x64
- OS: macOS 10.12.3 (16D32)
- `asciidoc-preview` version: 2.10.2
- `language-asciidoc` version: 1.10.0

## Screenshots
![image](https://user-images.githubusercontent.com/6737824/27131323-bedaa716-513c-11e7-96c8-d1fb75b269b2.png)

## Syntax example

[code]

[2017-06-14 18:24] mojavelinux commented on #246
This problem will be resolved once Asciidoctor.js 1.5.6 is available and this plugin is upgraded to use it. Prior to that version, Asciidoctor.js only supported Latin characters (due to a limitation in the JavaScript regexp engine) where character ranges are enforced (which is not that many places, but xrefs are one of them). Asciidoctor.js gains support for matching character ranges across all la

[2017-06-14 18:25] mojavelinux commented on #246
See https://github.com/asciidoctor/asciidoctor.js/pull/291.

[2017-06-15 13:58] bysslord commented on #246
thanks guys

[2017-07-17 10:30] Stahlschmidt opened #247 "PDF Export doesn't work"
## Description

When I use the right click and Export As PDF it takes some seconds and then I see
"Export as PDF completed with errors".
`C:\_Temp\Dokumentationen\Filename.pdf`
When I use the command `asciidoctor-pdf -a pdf-stylesdir=theme -a pdf-style=company Filename.adoc`
In a CMD window it works great.

But there is no PDF created at all and I see no error log or why it doesn't work.

- Atom v

[2017-07-17 11:40] ldez commented on #247
@Stahlschmidt please remove ` -a pdf-stylesdir` and `-a pdf-style=` from the fields.

[2017-07-17 13:20] Stahlschmidt commented on #247
Unfortunately that doesn't work as well :-(

Maybe that config helps to see what is wrong?
Inside the folder where my *.adoc is stored there is a sub-folder "theme" and config file name is "company-theme.yml"

----
"*":
  "asciidoc-image-helper":
    customFilenames: true
    imageFolder:
      append: false
  "asciidoc-preview":
    exportAsPdf:
      enabled: true
      pdfStyle: "company"

[2017-07-17 14:54] ldez commented on #247
Could you try to define a absolute path to your style directory?

[2017-07-17 15:32] Stahlschmidt commented on #247
In Windows or Linux format? with or without "" ?
Path is: C:\_Temp\Dokumentationen

[2017-07-17 15:46] Stahlschmidt commented on #247
Okay, the Full Path to theme dir is working in Windows Format without ""
C:\_Temp\Dokumentationen\theme

I've tried the full path with '-a pdf-stylesdir=' but that has not worked as well.

That's okay for now, but when working on different documents in different directories it is not optimal.

Thanks Idez for your support!

[2017-07-17 15:48] ldez commented on #247
Happy if I can help you!

[2017-07-17 15:48] #247 closed

[2017-08-21 19:54] luciarodriguez opened #248 "Images not updated in asciidoc-previewer if modified while Atom is opened"
When images are modified outside of Atom, the images are not updated in the previewer. For example, if they are resized, you still see the original size in the previewer.

If the previewer is toggled on and off, you see the changes.

- Atom version: 1.19.2 x64
- OS: Mac OS Sierra
- `asciidoc-preview` version: 2.10.2
- `language-asciidoc` version: v 1.10.0

[2017-08-23 19:24] luciarodriguez opened #249 "Add option to preview conditional inclusion macros"
When you enter texts that have `ifdef`/`endif` macros, it would be great if you could have a toggle in the previewer that allowed you to see the contents separately (e.g., if you use `ifdef::ios` and `ifdef::android`, seeing the content for `ios` and `android` separately in the previewer)

Atom version: 1.19.2 x64
OS: Mac OS Sierra
asciidoc-preview version: 2.10.2
language-asciidoc version: v 1.10

[2017-08-23 20:08] Mogztter commented on #249
Hello @luciarodriguez

One workaround can be to add extra attributes from the configuration panel.
If you add the attribute `ios` then the `ifdef::ios[]` block should be visible. You can even add both `ios` and `android` attribute if you want to show both the `ifdef::ios[]` and `ifdef::android[]` blocks.

But I like your idea of having a toggle in the preview so you don't have to go back and forth

[2017-08-24 09:25] r0ckarong opened #250 "Preview does not respect Pending Pane items"
## Description

Atom 1.6 introduced pending pane items. Meaning if you single-click on a file in the tree view it will get opened in a tab in the editor but only for previewing purposes. Once you either double click the file in the tree view, click the header of a pending pane or start actually doing work on it it gets converted into a permanent pane.

If you click another file the current tab wil

[2017-09-02 18:35] RazrFalcon opened #251 "Is there a way to use system asciidoc, instead of bundled one?"
I'm using a custom extension, which is written in ruby. It there a way to use them in preview?

[2017-09-02 18:43] Mogztter commented on #251
Hello @RazrFalcon,

Yes, there is a way!
You can cross-compile your custom extension to JavaScript using Opal: https://github.com/Mogztter/asciidoctor.js/blob/c9a047ae24803e2bcafbd162931ef8f2fa2616be/manual.adoc#how-to-compile-a-ruby-extension-to-javascript-nodejs

I don't know if it's possible to load an user's JavaScript file in Atom but if we can, you could load your custom extension.

[2017-09-02 18:47] ldez commented on #251
Currently not.

You can transpile your Ruby code to JS with [Opal](http://opalrb.org/) but for now, it's not possible to add an user's JavaScript file in the preview.

See #127, #122, #94.

[2017-09-02 18:47] #251 closed

[2017-09-19 14:57] luciarodriguez commented on #249
Hi @Mogztter. The only issue with that is that I get all blocks together, which makes it very

[2017-09-19 14:58] luciarodriguez commented on #249
Sorry! Reopening this one.

@Mogztter The only issue with your approach is that I see all blocks together, which makes it confusing to read/edit. The toggle would make it easier, if possible.

[2017-09-19 17:06] catethos commented on #94
I manage to render the latex in a very hacky way. Appreciate if anyone can point me to the correct direction.

What I have done:
1. put the MathJax folder inside the` Atom.app/contents/Resources/app/static`
2. insert the line `<script src="MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>` into `Atom.app/contents/Resources/app/static/index.html`
2. insert the line `window.MathJax.Hub.Typeset()

[2017-09-19 18:06] ldez commented on #94
@catethos The non "hacky" way is to use NPM modules: https://www.npmjs.com/package/mathjax

[2017-09-20 04:18] mojavelinux opened #252 "Add additional values to toc option"
## Description

The toc option currently does not reflect all the possible values. It's missing:

* not set (present, but called "none")
* on (the same as a blank value, or `-a toc`)
* off (the same as unset, or `-a toc!`)

The current "none" value is acting as the "not-specified" value, but it is not clear enough to the user that this is what the option means. In fact, I would prefer the name "no

[2017-09-20 08:14] mojavelinux commented on #249
What I'm thinking here is something like what Chrome has in the dev tools for toggling element states. You get a few check boxes and you can click on them to enable different options. For example, it might like look:

[code]

The challenge would be how to define these so that the editor could present you with a little widget. I suppose the previewer would have to grep for ifdef / ifndef in the sou

[2017-09-20 08:15] mojavelinux commented on #249
This is a great example of what an IDE for writers would do, btw.

[2017-10-12 08:07] holyhoehle opened #253 "HTML Title Tag not set to document title"
## Description

When I save a document as HTML file the `<title>` Tag is always set to the filename.
No matter if I have the document title toggle on or off.

If i change this [line](https://github.com/asciidoctor/atom-asciidoc-preview/blob/5d6dd5ebf6abfb2d22212116285b4f33181551e2/lib/asciidoc-preview-view.coffee#L250):
`title: $(@html).find('h1').text() or path.basename htmlFilePath, '.html'`
to

[2017-10-14 21:54] #253 closed

[2017-10-14 22:09] ldez commented on #252
Today we have 3 options:

https://github.com/asciidoctor/atom-asciidoc-preview/blob/fd76a3e0c3ac8184a45c67933eada8a5564c2850/package.json#L79-L90

In the code:
https://github.com/asciidoctor/atom-asciidoc-preview/blob/fd76a3e0c3ac8184a45c67933eada8a5564c2850/lib/configuration-builder.coffee#L21-L30

Do you want me to add 2 new options and rename `none` to` not-set`?

[2017-11-23 09:47] rterekhov opened #255 "Missing images in asciidoc preview for files saved as UTF-8 with BOM"
## Description

Asciidoc preview does not show images for files saved as UTF-8 with BOM.

- Atom version: 1.22.1
- OS: Windows 10
- `asciidoc-preview` version: 2.10.3
- `language-asciidoc` version: 1.11.0

[2017-12-18 18:21] tuxGurl opened #256 "Change theme for preview pane"
## Description
How do I change the theme used in the preview pane?

I have a custom yml theme that I use when exporting to PDF. I'd like to modify the theme used by the preview pane to be similar to the custom PDF theme so that I can preview roughly what the output would be.

- Atom version: 1.23.1 x64
- OS: Windows
- `asciidoc-preview` version: 2.10.3
- `language-asciidoc` version: 1.11.0

[2017-12-18 18:58] ldez commented on #256
Thanks for your interest 👍

Currently it's not possible to change the theme of the preview.

Duplicate of https://github.com/asciidoctor/atom-asciidoc-preview/issues/39

[2017-12-18 18:58] #256 closed

[2018-01-03 16:37] r0ckarong opened #257 "Object.dirname is deprecated. [Atom 1.23.2]"
The latest public Atom release 1.23.2 complains about a deprecated argument.

Argument to `path.dirname` must be a string
[code]

[2018-01-23 10:53] slaanco commented on #94
@Idez Could you provide more detailed instruction? Simply installing mathjax via npm does not seem sufficient. Thank you! :-)

[2018-02-01 04:55] pnogas commented on #94
@ldez I second slaanco's comment.
@catethos I can't find a static folder. I see /Applications/Atom.app/Contents/Resources/app/apm/node_modules/npm/html/static
Is this path different on macs?

sorry for my weak Atom skills...

[2018-02-01 18:12] ldez commented on #94
@slaanco @pnogas you need to modify the real code of the package, just download the MathJax is not sufficient 😃

[2018-02-01 19:38] pnogas commented on #94
@ldez I figured that. Unfortunately my knowledge how to modify the real code is lacking.

[2018-02-11 09:14] ldez commented on #257
I don't have this warning (1.23.1, 1.23.2, 1.23.3)
All calls of `path.dirname` take a string in parameter.

[2018-02-15 15:01] kachkaev opened #258 "Save as HTML context menu item not working in Atom 1.24"
`Save as HTML...` context menu item seems to be broken after upgrading to Atom [1.24.0](https://github.com/atom/atom/releases/tag/v1.24.0), which was released two days ago. Clicking on this menu item displays a window to choose a file name, but then nothing happens. Strangely, there are no exceptions in Atom's console or any other signs of an error.

A shortcut for this menu item (which is `cmd+sh

[2018-02-15 15:38] ldez commented on #258
Seems to be a regression in Atom with `showSaveDialogSync`

But we have another pb:
https://github.com/atom/atom/blob/2923f0057f5acec94f638546432f50e9a027da0c/src/atom-environment.js#L1179-L1184

[2018-02-15 22:26] #258 closed

[2018-02-28 11:40] SureSRM opened #260 "Render crashes when applying tabsize attribute to a tab-formatted text"
## Render crashes when applying `tabsize` attribute to a tab-formatted text

When you have a tab-formatted text and you want to overwrite the default `8 spaces per tab` there are two ways to do it:
* Whole text atribute: By setting `:tabsize: 4`
* Per block atribute: By setting `[tabsize=4]`

The **issue** is that when any of these methods are applied, te render crashes and shows a

- Atom version

[2018-02-28 19:21] Mogztter commented on #260
Most likely related to https://github.com/asciidoctor/asciidoctor.js/issues/173

[2018-03-10 15:07] ramalho opened #261 "No way to open preview pane on Ubuntu 16.04 LTS"
## Description

There's no documented way to open the asciidoc preview pane in Atom 1.24.1 on Ubuntu 16.4 LTS. because the shortcut <kbd>ctrl-shift-a</kbd> is bound to **File->Add project folder** and the shortcut <kbd>cmd-shift-a</kbd> simply writes an "A".

While this issue is not fixed, I'd appreciate workaround suggestions.

[2018-03-10 15:14] ldez commented on #261
Thanks for your interest.

I use Ubuntu 16.04 LTS and the Atom 1.24.0 and the shortcut <kbd>ctrl+shift+a</kbd> works well.

I think that you have a conflict with the shortcuts of another package.

[2018-03-10 15:27] ramalho commented on #261
Thanks for your reply, @ldez. However, I made a clean install of Atom. Only core packages an the asciidoc-assistant are installed.

[2018-03-10 15:32] ldez commented on #261
To help you, you can:
- use the command palette <kbd>ctrl+p</kbd> and find "Keybing resolver: Toggle" to see the real key binding when you press <kbd>ctrl+shift+a</kbd>
- check the asciidoc-preview configuration:
  - <kbd>ctrl+,</kbd> to see the settings
  - in the section "Packages" find `asciidoc-preview`
  - in the "keybindings" section, verify if the checkbox `enable` is check.

[2018-03-10 15:38] #257 closed

[2018-03-11 17:55] ramalho commented on #261
After restarting Atom several times I noticed it kept telling me that `asciidoc-assistant` as installing the other packages. That message persisted for hours, appearing every time I restarted Atom. So I manually installed the other packages one by one, and the problem went away. So the problem was not conflicting key bindings, but failed installation of the packages `asciidoc-assistant` should hav

[2018-03-11 17:55] #261 closed

[2018-03-13 07:30] eshepelyuk commented on #122
Well, there is already a PlantUML extension written and working in `Asciidoctor.js`

https://github.com/eshepelyuk/asciidoctor-plantuml.js

[2018-03-18 13:31] refaelsh opened #262 "Ignoring the :toc: left option"
Hello,

It seems to be the preview is ignoring the `:toc: left` directive.
What am I missing here please?

Thanks. Refael.

[2018-03-18 15:30] ldez commented on #262
The package support the basic [manual-placement](https://asciidoctor.org/docs/user-manual/#manual-placement) but not the [left-or-right-column-layout](https://asciidoctor.org/docs/user-manual/#left-or-right-column-layout) due to some technical constraints.

[2018-03-18 15:59] refaelsh commented on #262
I see, so it is `normal` that the `:toc: left` directive is being ignored? Just to make sure I understand, so that the issue can be closed.

[2018-03-18 16:33] ldez commented on #262
yes it's normal

[2018-03-18 17:40] #262 closed

[2018-03-18 19:29] mojavelinux commented on #262
There's also the problem that there simply isn't enough room for a sidebar TOC in the preview (unless your monitor is enormous). It would likely fall back to the middle from hitting the breakpoint in the CSS.

I do think there's a space for an extension that provides another type of TOC for the document that's either another panel or uses the space in the preview window in another way. But I don't

[2018-03-18 19:42] refaelsh commented on #262
I don't really mind, if that is the normal behavior, then that is the normal behavior. The thing is, it took me two hours of googling and etc to understand that its probably preview's fault and not a bug in Asciidoctor. IMHO, it needs to be fixed to save others the time of trying to understand why `:toc: left` does not works.

[2018-03-18 19:54] mojavelinux commented on #262
For example, check out https://atom.io/packages/document-outline

We could even include this in asciidoc-assistant. Open an issue there if you like the idea.

[2018-03-18 19:59] mojavelinux commented on #262
In fact, now that I've used it, I'm convinced it should be part of asciidoc-assistant. Check it out!

![document-outline](https://user-images.githubusercontent.com/79351/37570358-862f7bec-2ab4-11e8-9d2c-e662376a1f4f.png)

[2018-03-18 20:05] mojavelinux commented on #262
It honors the request in that it shows the toc. It just can't accommodate the position request. This is the same behavior as a standalone document on a small screen. The toc always floats the top when there isn't sufficient room.

It's also documented in the user manual. See https://asciidoctor.org/docs/user-manual/#using-a-toc-with-embeddable-html I'll update it to make the emphasis even stronger

[2018-03-19 07:43] refaelsh commented on #262
@mojavelinux Thank you very much for your responses. I now understand. The emphasis indeed helps.
And your recommendation regarding `document-outline` is absolutely wonderful. Thank you!
I also think that it should be part of `asciidoc-assistant`.

[2018-03-19 07:47] mojavelinux commented on #262
Great to hear!

Would you be willing to file an issue to have it added. I'll throw my support in for it.

[2018-03-19 07:53] refaelsh commented on #262
Done! [Here](https://github.com/asciidoctor/atom-asciidoc-assistant/issues/16) it is.

[2018-03-19 08:05] mojavelinux commented on #262
Thanks!

[2018-03-23 20:20] sirjorj opened #263 "settings :toclevels: removes the table of contents"
Running latest build of atom and latest version of this package on Linux Mint.  When I have ""toclevels: 4" set (or set to any number), the preview quits showing the table of contents.

[2018-04-09 11:40] shemgp opened #264 "Use pygments as source-highlighter"
## Description

I'd like to use pygments as the source highlighter because I want to use its option to highlight pure PHP without the <?php tag (https://github.com/asciidoctor/asciidoctor/pull/2015).  Is it possible?  Thank you for considering this.

- Atom version: 1.25.0
- OS: Ubuntu Bionic (development)
- `asciidoc-preview` version: 2.10.4
- `language-asciidoc` version: 1.11.0

## Syntax exampl

[2018-04-10 21:12] mojavelinux commented on #264
This is very unlikely, IMO. It would mean spawning a separate process to invoke Pygments, which would also add the overhead of finding the right python with the right package installed to execute it. It's going to cause more problems than it solves.

We have chosen [highlights](https://github.com/atom/highlights) as the syntax highlighter in this package. It highlights code in the preview the same

[2018-04-24 06:11] liuqinh2s opened #266 "don't support mathjax, I just ask would you support mathjax?"
## Description

Your description.

- Atom version:
- OS:
- `asciidoc-preview` version:
- `language-asciidoc` version:

## Screenshots

Your screenshot.

## Syntax example

[code]

[2018-04-29 10:43] spaal opened #267 "Missing support for block images"
## Description

Images can be positioned as inline or block image. While inline images are correctly shown in the asciidoc preview window, block images are not. When I publish the asciidoc document to PDF, e.g. by using asciidoctor, the image appears in the PDF document as block image.

- Atom version: 1.11.2
- OS: Linux Mint 18.3
- `asciidoc-preview` version: 2.9.2
- `language-asciidoc` version:

[2018-04-29 12:00] ldez commented on #267
Hello, I don't reproduce your issue.

Block images and inline images are both supported.

[2018-04-29 12:46] ldez commented on #267
You can encode the path of your image like that:

[code]

[2018-04-29 12:50] spaal commented on #267
Yeah but then the PDF generation with asciidoctor fails with image not found error as it probably does not substitute %20 with a space. The workaround using underscores instead of spaces works for atom-asciidoc-preview and asciidoctor.

[2018-04-29 19:48] mojavelinux commented on #267
This will be resolved once the upgrade to 1.5.6 is complete as spaces are now permitted by the core processor.

[2018-05-11 13:18] #205 closed

[2018-05-13 08:56] g-uru opened #268 "No code-highlighting in preview window"
## Description
No code-highlighting after installing the newest release.

- Atom version:
- OS: Windows 10 x64
- `asciidoc-preview` version:  2.12.0
- `language-asciidoc` version: 1.11.0

## Screenshots

![no-code-highlight](https://user-images.githubusercontent.com/22568014/39965575-2031af5e-569c-11e8-8beb-b80cc9e2cb3d.png)

## Syntax example

[code]

[2018-05-13 13:42] ldez commented on #268
Thanks for taking the time to open this issue.

I confirm the bug, a new version coming soon.

[2018-05-13 13:58] g-uru commented on #268
You are welcome. Cool, thanks for letting me know :)

[2018-05-13 14:28] #268 closed

[2018-05-14 05:24] JosephTLyons opened #270 "Error trying to update to 2.12.1"
## Description

- Atom version: 1.26.1
- OS: macOS 10.13.4
- `asciidoc-preview` version: 2.12.0
- `language-asciidoc` version: 1.11.0

## Screenshots

<img width="761" alt="screen shot 2018-05-14 at 1 22 44 am" src="https://user-images.githubusercontent.com/19867440/39979583-6cb6df60-5715-11e8-955f-81f9dfaee4ba.png">

[2018-05-14 07:27] ldez commented on #270
@JosephTLyons Could you give the error output?

[2018-05-14 07:51] JosephTLyons commented on #270
Updating to “asciidoc-preview@2.12.1” failed.Hide output…
events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: ENOENT: no such file or directory, open '/Users/josephlyons/.atom/packages/asciidoc-preview/node_modules/es6-iterator/.lint'
    at Error (native)

[2018-05-14 07:53] JosephTLyons commented on #270
The weird thing is, this time, it actually says that it successfully installed, even though it still threw the same error as when I posted.

[2018-05-14 07:57] ldez commented on #270
Could you give the full stack trace (<kbd>ctrl+shit+i</kbd> console tab)?

[2018-05-14 09:14] JosephTLyons commented on #270
The command is doing nothing on my end.  I also have shutdown Atom since then, so not sure if trace would still exist.  I will try to help if there is any way.

[2018-05-14 09:18] ldez commented on #270
for mac <kbd>alt-cmd-i</kbd>

[2018-05-24 13:04] PetrusKiendys opened #271 "Preview does not work"
## Description

Preview does not work, triggering preview has no effect.
A new pane is not created, it is as if nothing happened.

- Atom version: 1.26.0
- OS: Ubuntu 18.04 LTS (Bionic Beaver)
- `asciidoc-preview` version: 2.12.1
- `language-asciidoc` version: 1.11.0

[2018-05-24 13:57] ldez commented on #271
Could you provide more information?

I don't reproduce with:
- Atom 1.26.1
- `asciidoc-preview` 2.12.1
- Ubuntu 16.04 LTS

[2018-05-24 14:13] PetrusKiendys commented on #271
Ok, it actually works if the document that is to be previewed is correctly formatted.

However when it is not correctly formatted, the user is not presented with any form of warning or error message. I'm still getting a blank preview pane in this case, which I didn't before.

Is there any way to view a stacktrace or logging input when asciidoc-preview is activated? If there is then I can check nex

[2018-05-24 14:13] #271 closed

[2018-05-27 09:31] ukubauka opened #272 "Preview does jump down when the document is saved (sync is deactivated)"
## Description
I have deactivated the sync, because it always has a major offset.
I have set the option "Render on Save only"
I did this to keep the rendered preview nice and steady so I wouldn't loos track about may position in a bigger document.
Unfortunately the preview does jump always considerably on save. Its always down. I couldn't figzure out a rule applicable (next headline? next renderin

[2018-05-30 09:37] Mogztter commented on #272
Line numbering in Asciidoctor 1.5.6 could be wrong in lists and tables.

In Asciidoctor 1.5.7, things had improved:

https://github.com/asciidoctor/asciidoctor/releases/tag/v1.5.7

In theory once we upgrade to Asciidoctor.js 1.5.7 it should be better.
Having said that I don't see lists or tables in your example so it may be another issue.

Could you please share the whole document in plain text so

[2018-06-28 14:02] UmkaDK opened #273 "Add an option to reuse the current pane for AsciiDoc Preview"
It would be awesome if "Open In Pane" options (in Settings) included the ability to reuse the current pane. This would make previewing asciidocs less disruptive in editors with narrow windows.

[2018-07-05 15:08] mosesontheweb opened #274 ":toc: left not working"
## Description

I just recognized that regardless what I write as value to :toc: the only thing really working is `macro` and no value. Values like `left` or `right` will make the table of content disappearing. I used the same ascii text in AsciidocFX as well, it was working there perfectly.

- Atom version: 1.27.1
- OS: Windows 7 Enterprise
- `asciidoc-preview` version: 2.12.1
- `language-asciido

[2018-07-18 07:19] ingosimonis opened #275 "Add line numbers to code samples in preview"
## Description

Hi, I am often using code samples, using the notation shown below with the linenums-flat set.

Using coderay, I get line numbers for these parts in the HTML when compiling the asciidoc, but I cannot see any line numbers for the code in the Atom-preview window. Is there anything I can do?

Thanks a lot,
Ingo

- Atom version: 1.28.2
- OS: MacOS 10.13.6
- `asciidoc-preview` version: 2

[2018-08-16 13:28] ali-gs commented on #122
Is there any update on this one? I am facing the same issue

[2018-09-03 06:57] tylerkelly13 opened #276 "Using undefined attributes in anchor id results in Uncaught Syntax Error"
## Description

Atom error is:
Uncaught Error: Syntax error, unrecognized expression: #anchor-id-string_{attribute}
Caused by use of undefined attribute in an anchor id. If:
- The [[asciidoc-preview]] of the page is open for a [[.adoc]] file.
- The user tries to select the heading associated with the anchor id in the editor (either using a mouse or text cursor).

The error will be thrown and the u

[2018-09-20 14:15] gavenkoa commented on #35
@mojavelinux Hasn't `:macros: ui` or  `:macros: kbd`  syntax been implemented yet?

With v1.5.7 I can enable `kbd` with `:experimental:`. Any other direct method to enable only `kbd`?

[2018-09-20 19:53] mojavelinux commented on #35
The experimental attribute is still the way to enable them.

[2018-09-30 12:15] carlvon1800 opened #277 "include:: Issues with file paths."
## Description

Paths seems to have a lot of issues with this plugin, under Windows atleaste.  I have tested the document with asciidoctor and it seems ok.

- Atom version: 1.31.1
- OS: Windows 10
- `asciidoc-preview` version: 2.12.2
- `language-asciidoc` version: 1.11.0

## Screenshots

Unresolved directive in <stdin> - include::../test.adoc[]

## Syntax example

[code]

[2018-10-04 09:18] underscoredje commented on #277
Same thing on Fedora.
Exports on PDF include the file.
Preview and exports on HTML give this error

[2018-10-13 03:52] mojavelinux commented on #276
This is the problematic line:

    if target = $('#' + blockId)[0]

I've run into this problem before when working with user-provided IDs. jQuery doesn't protect against an illegal ID selector. Therefore, it's necessary to use getElementById to be safe:

    if target = window.document.getElementById(blockId)

[2018-10-13 11:04] #276 closed

[2018-10-14 02:28] mojavelinux commented on #277
In order to resolve an include file in a parent directory, you must set the safe mode of the add-on to "unsafe". The default is "safe". In safe mode, you can only resolve files inside the directory structure of the master file.

(Btw, this is true since the plugin sets the base directory option. If the base directory option was not set, then there would be no concept of a current directory and thu

[2018-10-29 21:11] mojavelinux commented on #255
The export function only creates the HTML. You'll have to copy the images to the target folder so that they can be referenced.

It seems like a reasonable request to enhance the export functionality so images get exported to. This would either mean copying the images to the destination (a sort of "web page complete" feature) or to enable the `data-uri` attribute so that the images get embedded int

[2018-10-31 19:16] cyburdine opened #279 "AsciiDoc Preview not loading"
## Description

Your description.
Had this working on my old laptop (mac), and am trying to get this working on my new laptop (mac).  I have an open adoc file and I press shift+cmd+a, the preview window opens, but never renders, it only shows "Loading AsciiDoc..."

- Atom version:  1.32.1
- OS: MacOS High Sierra (10.13.6)
- `asciidoc-preview` version: 2.12.2
- `language-asciidoc` version: 1.11.0

[2018-10-31 19:17] cyburdine commented on #279
I did note that when looking at the browser console I get a few errors when the preview window loads.

![screen shot 2018-10-31 at 2 17 17 pm](https://user-images.githubusercontent.com/4306694/47812955-b37b7900-dd17-11e8-8123-0a501b97f0b5.png)

hope this provides insight.

[2018-10-31 23:35] ldez commented on #279
This is an incompatibility with tree-sitter grammars.
For now, disable tree-sitter parsers: this option in core settings should be disabled (as in picture):

![](https://user-images.githubusercontent.com/7275622/44476850-ab30fe80-a641-11e8-8378-0e17c2ea5c31.png)

[2018-11-01 16:53] cyburdine commented on #279
Worked perfectly!  thanks for the quick fix!

[2018-11-07 05:34] archenroot opened #280 "feature-req: Preview displays page which is edited"
## Description

It would be handy if the preview is generated with auto-focus on the page which is at moment edited. I have ascidoc which uses _include and while editing in the middle of the main document, preview displays end of document and to see changes I must scroll up many pages to see what I am writing...

Thank you.

- Atom version: 1.31.2 x64
- OS: Gento AMD64
- `asciidoc-preview` version

[2018-11-12 09:33] refaelsh commented on #262
I am sorry to bother you guys again, but [here](https://www.dropbox.com/s/9msrciwjy7guds0/Untitled.png?dl=0) is a screenshot from VSCode and their AsciiDoctor preview plugin. As you can see, is shows the `toc`. On same screen, `atom-asciidoc-preview` does not shows the `toc`.

[2018-11-20 00:32] mojavelinux commented on #262
The VSCode plugin is using a different stylesheet. That stylesheet allows the toc to be positioned on the left regardless of the width of the screen. The Atom plugin does not support this. So the behavior is intentionally different.

[2018-11-20 06:58] refaelsh commented on #262
I see. IMHO, this would be great if it would have been supported. I will open a new issue suggesting to add this kind of functionality.

Thanks everyone.

[2018-11-20 07:00] refaelsh opened #281 "Feature suggestion: respect the :toc:left directive"
## Description

Your description.

- Atom version:
- OS:
- `asciidoc-preview` version:
- `language-asciidoc` version:

## Screenshots

Your screenshot.

## Syntax example

[code]

[2018-11-20 07:01] #281 closed

[2018-11-20 08:09] refaelsh opened #282 "Feature suggestion: make the preview respect the :toc: left attribute"
Hi,

Following the discussion [here](https://github.com/asciidoctor/atom-asciidoc-preview/issues/262), I would like to suggest the following feature: make the preview respect the `:toc: left` attribute.

Thanks. Refael.

[2018-11-20 10:37] mojavelinux commented on #282
I feel strongly we should not do this (for the default stylesheet). It takes away entirely too much space in the preview and doesn't really make sense to show the toc there in this context. The preview window is not meant to emulate the webpage that the end user sees. It's meant to offer a preview of the content.

For navigating the document, the preferred approach is a dedicated Atom view that co

[2018-11-20 13:11] refaelsh commented on #282
I understand what you are saying. But, please consider the following counter-arguments:
1. I wasted a few good hours trying to understand why I don't see my toc on the left.
1. Preview, should help me, like, you know, I wanna try the toc on the left side, then on the right side, then in the middle, and see what option is better for me - I cant do that with the current state of the default styleshe

[2018-11-20 17:48] mojavelinux commented on #282
Then we need to improve the docs.

That's not the purpose of this preview. It's not meant to help design the output. It's to preview the content part.

Please understand I'm not saying you don't have a valid use case. It's just not the focus of this plugin. If you want a plugin that has that focus, then you are free to create one.

[2018-11-20 17:50] mojavelinux commented on #282
...or a custom stylesheet. Again, this is a great example of why the plugin allows a custom stylesheet. I just don't want it to be in the default stylesheet because it doesn't align with our goals for the plugin.

[2018-11-22 10:03] refaelsh commented on #282
Thank you @mojavelinux. I understand. I will go and submit a pull request for updating the docs about this.
I will also create my own stylesheet.

[2018-11-22 10:03] #282 closed

[2018-11-29 05:59] Tejeev commented on #279
Thanks Idez!

[2018-12-03 10:22] bschwarzent commented on #279
In my case the problem appears as soon as I include a code block with syntax set to `javascript`. Other languages, such as `java` or `json` are fine.

Disabling the tree sitter parsing (whatever that is) helps, although this seems to be only a temproary solution. I noticed a similar issue in the [markdown-preview-plus](https://github.com/atom-community/markdown-preview-plus/issues/421) package. Th

[2018-12-16 17:20] Mogztter commented on #279
I think we should add this workaround in the README no ?
For reference the error is:

[code]

[2018-12-26 13:51] lbreuss commented on #263
Works for me (Atom 1.31.1 x64). Do you have a syntax error? ":toclevels: 4".
IMPORTANT: after the `:toc:` and before the next title tag, it needs some text block. This can be the `{empty}` block as below.

Try this snippet. :
[code]

[2019-01-10 01:52] tcowan commented on #279
I am having this same issue, and when I removed the `[source,C]` lines (and I used languages `bash`, `text` and `C`),  the preview panel would begin working again.

Disabling the Tree Sitter Parsing allows the preview panel to work and allowed me to leave the `[source]` statements in place.

[2019-01-30 11:26] dikinova opened #285 "suggestion: a theme that supports the black-white printer better"
## Description

The html file exported from adoc file has red titles. Often I will print the html to a black-white printer. But the red color title cannot be printed clear. The gray color is too thin. So I hope someone can provide a white-black theme, just for the black-white printer. thanks.

[2019-02-01 23:58] mojavelinux commented on #285
This should probably be opened in https://github.com/asciidoctor/asciidoctor as that's the source of the stylesheet.

There we can discuss the difference between print for screen and print for printing. Because there are actually two different use cases. We might be able to use a query string in the URL to distinguish between them.

[2019-02-08 08:59] hkp-wcd opened #286 "Table stripes=none ignored"
## Description

Table with ```stripes=none``` still has stripes in preview window.
https://asciidoctor.org/docs/user-manual/#striping

- Atom version: 1.34.0 x64
- OS: Windows 10
- `asciidoc-preview` version: 2.12.2
- `language-asciidoc` version: 1.11.0

## Screenshots

![image](https://user-images.githubusercontent.com/42992894/52466696-7aa73780-2b83-11e9-8b07-8a1603e8ccd5.png)

## Syntax example

[2019-02-08 09:45] mojavelinux commented on #286
Here's the relevant CSS from the default stylesheet to import:

[code]

[2019-03-07 11:43] hkp-wcd commented on #42
This would be so great. We will make extensive use of the diagram capabilities of asciidoctor.

[2019-03-12 09:49] hkp-wcd opened #287 "Unexpected behaviour of escaped pipe in table"
## Description

Escaped table separator in table cell has unexpected behaviour in preview when not at the end of a line (but works fine with Ruby asciidoctor cli html5 v1.5.7.1)

- Atom version: 1.34.0
- OS: Windows 10
- `asciidoc-preview` version: 2.12.2
- `language-asciidoc` version: 1.11.0

## Screenshots
### Unexpected
![image](https://user-images.githubusercontent.com/42992894/54190288-d7b049

[2019-03-12 09:53] mojavelinux commented on #287
This is a known issue in Asciidoctor.js that will be solved once it's upgraded. (It was a regular expression error that affected Asciidoctor.js / Opal).

cc: @Mogztter

[2019-03-12 09:57] hkp-wcd commented on #287
Thanks a lot for your quick replies and overall attitude towards bug reports. Outstanding!

[2019-03-12 09:57] mojavelinux commented on #287
:+1:

[2019-03-12 09:58] mojavelinux commented on #287
@Mogztter What's the status on the upgrade of Asciidoctor in this plugin. Could we at least move to 1.5.8 while we're waiting for 2.0.0 to materialize? I don't really see any reason why we're sticking to 1.5.6.

[2019-03-14 22:01] Foadsf opened #288 "keyboard shortcut to render files with other extensions"
## Description

I'm trying to have a self documented code using AsciiDoc documentation ([example with MarkDown](https://stackoverflow.com/a/55149182/4999991)). However unfortunately the Atomm editor plugin doesn't respond to the keyboard binding ctrl + shift + a to toggle live preview. I was wondering if this feature could be enabled somehow. Maybe there is a list of extension somewhere in the set

[2019-03-15 11:56] Foadsf commented on #200
Same issue here. I'm developing a small library prototype which you can see [here](http://bit.ly/2HwqPJs). However Atom is stuck rendering it:

![2019-03-15_12-53-18](https://user-images.githubusercontent.com/12762442/54429755-ae94f000-4721-11e9-9b49-71f637865210.gif)

[2019-03-15 12:06] Mogztter commented on #200
@Foadsf Could you please open the devtools and look for errors in the console ?

[2019-03-15 12:58] Foadsf commented on #200
@Mogztter Could you pleas elaborate with the instructions? My code is [here ](https://gist.github.com/Foadsf/44fe9b5e2bcb02b22392adf6d8f7a871) BTW if you want to try yourself.

[2019-03-15 13:02] Mogztter commented on #200
I can't find any documentation on Atom but `Ctrl+Alt+I` should open the developer tools with console.
On macOS, I think it's `Cmd+Opt+I`.

https://flight-manual.atom.io/hacking-atom/sections/debugging/#diagnose-runtime-performance

[2019-03-15 13:12] Foadsf commented on #200
@Mogztter Nothing shows up with that keyboard shortcut. from the menu bar maybe?

[2019-03-15 13:13] Foadsf commented on #200
@Mogztter  aha ctril+shift + I on windows [link](https://discuss.atom.io/t/how-to-make-developer-tools-appear/16232/2)

[2019-03-15 13:14] Foadsf commented on #200
Here is the error:

[code]

[2019-03-15 13:17] Mogztter commented on #200
I think it's related to https://github.com/asciidoctor/atom-asciidoc-preview/issues/279#issuecomment-434883201
And quoting myself, we definitely need to add this issue in the README: https://github.com/asciidoctor/atom-asciidoc-preview/issues/279#issuecomment-447660219

If I have some time tonight I will submit a pull request :wink:

@Foadsf Could you please confirm that disabling tree-sitter pars

[2019-03-15 13:19] Foadsf commented on #200
@Mogztter  I have no idea how I should disable the "tree-sitter parsers" but I suppose it is something discuses on those links. I will do this tonight too. Anyways my code is [here ](https://gist.github.com/Foadsf/44fe9b5e2bcb02b22392adf6d8f7a871) for testing. I appreciate your kind support.

[2019-03-15 13:27] Mogztter commented on #200
Not really, here's a detailed guide:

1. Open the "Settings View"

![settings](https://user-images.githubusercontent.com/333276/54434225-0df8fd00-472e-11e9-9d4a-af9be905e450.png)

2. In "Core" tab (ie. the default tab), scroll to the bottom:

![core-settings](https://user-images.githubusercontent.com/333276/54434250-1e10dc80-472e-11e9-99a4-524637c5846c.png)

3. Uncheck "Use Tree Sitter Parsers"

Y

[2019-03-15 13:57] Foadsf commented on #200
@Mogztter It does render now, however the collapsible section oesn't work and the code block inside it doesn't have syntax highlighting!

[2019-03-15 23:19] Foadsf commented on #200
@Mogztter I checked on a different computer. Now the syntax highlighting works upon disabling `tree-sitter parsers` , however the collapsible part doesn't. The collapsible part works on vscode FYI.

[2019-03-16 01:40] mojavelinux commented on #200
I don't think collapsible blocks is a feature of this plugin.

[2019-03-16 01:44] Foadsf commented on #200
isn't the rendering engine of this plugin and vscode one the same?

[2019-03-16 01:53] mojavelinux commented on #200
Yes and no. The preview window uses Asciidoctor.js. But the editor window uses a very different technology stack.

[2019-03-16 07:49] Foadsf commented on #200
the editors window is great in both atom and vscode. No issues there. foldable / collapsible part I have implementation using HTML tags doesn't work in the preview section of Atom.

[2019-03-16 08:35] mojavelinux commented on #200
I'm afraid I don't know what you are talking about. Is this a custom extension you've added to the converted page? Could you show a screenshot or code?

[2019-03-16 09:16] Foadsf commented on #200
[here](https://gist.github.com/Foadsf/44fe9b5e2bcb02b22392adf6d8f7a871) my code. please note the part with

[code]

[2019-03-16 18:32] mojavelinux commented on #200
This could be a limitation of the HTML viewer in Atom. Have you tried the same thing in the Markdown preview?

Btw, I strongly recommend against putting HTML directly in your AsciiDoc file. It would be much better if you created a custom block extension (or custom converter). It looks like you are attempting to implement https://github.com/asciidoctor/asciidoctor/issues/1699.

[2019-03-16 18:48] Foadsf commented on #200
**Markdown :**

code

[code]

**GitHub:**

/*

This is the markdown **text**

used for documentation

<details>
  <summary>Click to see the source code</summary>

[code]

</details>

**Atom:**

![5tgyM1BBLu](https://user-images.githubusercontent.com/12762442/54480060-6dd1cf80-4824-11e9-9fd6-b037ef69c9d8.gif)

**VSCode:**

![WIeqpXouGh](https://user-images.githubusercontent.com/12762442/54480067-83

[2019-03-16 19:00] Foadsf commented on #200
# AsciiDoc:

## Code:

[code]

## Atom:

![PGMRHtNYUx](https://user-images.githubusercontent.com/12762442/54480196-d0779b00-4825-11e9-9026-8c22f73b0597.gif)

## VSCode:

![Mplx4P5ivf](https://user-images.githubusercontent.com/12762442/54480210-ff8e0c80-4825-11e9-9047-1548d7b2e98d.gif)

[2019-03-16 20:30] Foadsf commented on #200
A comparison between different options so far:

|         | Color layout | Syntax highlighting | Collapsible | Include | Other file extensions |                                       Relevant discussion                                      |
|:-------:|:------------:|:-------------------:|:-----------:|:-------:|:---------------------:|:-------------------------------------------------------------

[2019-03-17 15:05] Mogztter commented on #287
@mojavelinux I think we've never took the time to upgrade but it should be pretty straightforward. I will give it a try :wink:

[2019-03-17 15:09] Mogztter opened #289 "Upgrade to Asciidoctor.js 1.5.9"
## Description

The latest version of Asciidoctor.js contains a few bug-fixes and a lot of improvements: https://github.com/asciidoctor/asciidoctor.js/releases/tag/v1.5.9

For instance, the following issue is fixed in 1.5.9: https://github.com/asciidoctor/atom-asciidoc-preview/issues/287

[2019-03-17 15:45] #287 closed

[2019-03-17 15:45] #289 closed

[2019-03-17 21:03] mojavelinux commented on #287
Thanks @Mogztter!!

[2019-03-18 08:58] Foadsf commented on #200
Dear @mojavelinux and @Mogztter should I open a new issue for the Atom live preview not rendering the `summary` element properly? It doesn't seem to be relevant here.

[2019-03-18 09:44] mojavelinux commented on #200
The stylesheet provided by Asciidoctor Ruby will carry over to the Atom live preview once Asciidoctor.js is upgraded (the stylesheet is part of the upgrade).

[2019-03-18 10:50] Foadsf commented on #200
@Mogztter and @mojavelinux the Atom plugin just got updated and now the live preview syntax highlighting doesn't work anymore. Should I open a new issue for this or it is relevant to any of other issues we already have and I should just wait for the new PRs?

[2019-03-18 10:55] ldez commented on #200
@Foadsf could you open a new issue?

[2019-03-18 11:03] Foadsf opened #291 "Atom live preview syntax highlighting doesn't work after update to 2.12.3"
## Description

Atom's live preview syntax highlighting used to work properly:

![q1i1ovDb6w](https://user-images.githubusercontent.com/12762442/54497215-1a30b600-48f8-11e9-98ea-e0dfec1aa6e2.png)

But now after update it doesn't:

![atom_2019-03-18_12-01-09](https://user-images.githubusercontent.com/12762442/54525921-8ac9e800-4975-11e9-80c3-d3d5c2b831c7.png)

- Atom version: 1.35.1 x64
- OS: Windo

[2019-03-18 11:09] ldez commented on #291
Are you speaking about syntax highlighting inside the preview or inside the asciidoc document?

[2019-03-18 11:10] Foadsf commented on #291
@ldez inside the live preview

[2019-03-18 11:56] Mogztter commented on #291
That's weird, did you enable syntax highlighting ? You might need to add `:source-highlighter: highlight.js`.

[2019-03-18 11:57] Mogztter commented on #291
2.12.3 is using Asciidoctor.js 1.5.9 ?

[2019-03-18 12:00] Foadsf commented on #291
@Mogztter yes it is right on top of my code:

![atom_2019-03-18_12-58-28](https://user-images.githubusercontent.com/12762442/54528538-94efe480-497d-11e9-9421-5e83e842d4c4.png)

two days ago it was working even without this line as I had reported.

This I didn't know how to find. Would you be kind to instruct me how the `Asciidoctor.js` version should be found?

[2019-03-18 12:22] Mogztter commented on #291
@Foadsf you can use the built-in attribute `asciidoctor-version`. In your document add `{asciidoctor-version}` it will print the version.

[2019-03-18 12:23] Foadsf commented on #291
@Mogztter thanks a lot `{asciidoctor-version}` --> `1.5.8`

[2019-03-18 12:34] Mogztter commented on #291
Syntax highlighting is working for "common" languages:

![ok](https://user-images.githubusercontent.com/333276/54530125-34af7180-4982-11e9-865b-ca2defaa22ca.png)

Not sure how the Scilab language was highlighted before... Scilab is not even in this list: https://github.com/asciidoctor/atom-asciidoc-preview/blob/8d4a41d1e14d8f7fffa507a3cf6973923248f942/lib/highlights-helper.coffee#L1

@ldez Any ide

[2019-03-18 12:35] Foadsf commented on #291
@Mogztter now this is strange :) I'm happy I have screenshots otherwise I would doubt my sanity :))

[2019-03-18 12:42] Mogztter commented on #291
I get the same result with 2.12.2:

![2122](https://user-images.githubusercontent.com/333276/54530660-a20fd200-4983-11e9-96d0-771e7b9865fd.png)

[2019-04-05 09:14] astubbs commented on #82
Is it possible to set the vertical location of the preview pane? Atm it seems to scroll to the top of the pane by default - it would be nice to match the cursor position in the source pane. (i.e. my change that is entered in the editor, is at the top of the preview pane)

[2019-04-23 18:52] ferdnyc commented on #221
This would be a great change, as the current sync functionality is disruptive enough to my editing process that I had to disable it. The problem isn't so much the sync-on-cursor, it's the _positioning_ of the sync.

For **writing** documents, the current sync functionality is great. Because you're working at the very end of the existing source, generally, the preview will be positioned to the bott

[2019-04-26 06:16] marcelhuberfoo opened #292 "No preview due to broken syntax highlighting"
## Description

Generating the preview is broken for certain language specifiers. Curiously it works for some but not for all.
It might be related to these issues https://github.com/asciidoctor/asciidoctor.js/issues/715 and https://github.com/asciidoctor/asciidoctor.js/issues/716, which were fixed lately. Unfortunately there wasn't an update to the atom previewer.

- Atom version: 1.36.0 x64 (Elec

[2019-04-26 06:31] Mogztter commented on #292
Hello @marcelhuberfoo, could you please open the developer pane and check the console ? You should see an error message when the document is not rendered.

The Atom extension is using a client side syntax highlighting based on https://www.npmjs.com/package/highlights (the internal syntax highlighter used in Atom).

[2019-04-26 06:38] marcelhuberfoo commented on #292
Hi @Mogztter
I was wondering if I could open a log console or whatever but didn't think about the dev console...
Here you go, hope it helps tracking down the cause.

[code]
The source line at highlights.coffee:44 is:
[code]
Thank you.

[2019-04-26 06:53] Mogztter commented on #292
I think it's related to: https://github.com/asciidoctor/atom-asciidoc-preview/issues/279#issuecomment-434883201
Please uncheck the "Tree Sitter Parsers" option in core settings.

[2019-04-26 08:03] marcelhuberfoo commented on #292
Yep, that solves my preview problem. Sorry, didn't see that comment before.

[2019-04-26 08:06] Mogztter commented on #292
It's OK, I think we should add a clear mention somewhere in the README because currently there's an incompatibility with the Tree Sitter grammars (and this issue happens frequently).

Can we close this issue ?

[2019-04-26 08:16] marcelhuberfoo commented on #292
The mentioning sounds good to me.
Yes, from my point you can close the issue.
Thank you again for your time and help.

[2019-06-02 17:36] Tejeev opened #293 "2 Passthroughs on 1 line crashes preview"
## Description

It appears the inline passthrough crash resolved in asciidoctor #3089 / pull #3091
(#3089 fix crash caused by an inline passthrough with the macros sub #3091) is still not resolved in the preview.  Placing two passthroughs on the same line causes the crash.
You can work around by moving the second passthrough to the next line.

- Atom version: 1.37.0
- OS: Ubuntu 16.04.6
- `asciido

[2019-06-03 06:55] Mogztter opened #294 "Upgrade to Asciidoctor.js 2.0"
## Description

The latest version of Asciidoctor.js contains a few bug-fixes and a lot of improvements: https://github.com/asciidoctor/asciidoctor.js/releases/tag/v2.0.3

For instance, the following issue is fixed in 2.0.3: #293

[2019-06-03 22:16] #293 closed

[2019-06-04 06:27] Mogztter commented on #294
fixed in https://github.com/Mogztter/atom-asciidoc-preview/commit/e3fce00aa29a48a3f76f645caecc3da32cac717a

[2019-06-04 06:27] #294 closed

[2019-06-04 09:41] mojavelinux commented on #294
Woot! Thanks you two! :beers:

[2019-06-19 11:43] sylvaticus opened #296 "Save as HTML does nothing (~/.atom/packages/asciidoc-preview/node_modules/asciidoctor.js/dist/css/asciidoctor.css not found)"
## Description

Hello, it is a few days that when I click "Save as HTML" it asks me where to save the html, but then it does nothing, i.e. it doesn't actually save the rendered HTML. Export to PDF works.
This is independent on the specific *.adoc file I am working with

- Atom version: 1.34.0
- OS: Ubuntu Linux 18.04
- `asciidoc-preview` version: 2.13.0
- `language-asciidoc` version: 1.11.0

## Sc

[2019-06-19 11:58] ldez commented on #296
Hello, seems related to the update of Asciidoctor.js.

ping @Mogztter

[2019-06-19 14:46] Mogztter commented on #296
Sorry I missed this reference!
The path has changed in Asciidoctor.js 2.0...

[2019-06-19 15:13] #296 closed

[2019-07-12 11:55] sylvaticus commented on #94
Hello, any timetable for the implementation of LaTex-style equations in asciidoc preview (and then -> pdf or ->html) ?

I know nothing about ruby, gem, stem, npm, MathJax, etc, but I understood (maybe wrongly) that it is a matter of replicate the functionality already available in other contexts to the Atom asciidoc plugin...

[2019-08-04 03:58] ericjacolin commented on #279
I am having the same problem on any document. Disabling tree sitter parsing did not help.
On the console:
[code]
Ubuntu 18.04
ascii-doc-preview 2.13.1

[2019-08-04 06:52] Mogztter commented on #279
@ericjacolin  I don't think it's the same issue. The stacktrace does not seen related to the Asciidoctor extension.
Did you try to reinstall the extension/update Atom?

[2019-08-04 08:38] ericjacolin commented on #279
Thanks. Yes, to no avail.

[2019-08-12 13:13] KLynn2019 opened #298 "Unable to see images in project with Antora folder structure"
## Description

Projects used with Antora have to follow a specific folder structure. With this structure, it's not necessary to include the exact path to an image in the source document. However, in order to see the image in the preview pane, I have to specify the path. Is there a way to customize the preview so that I don't have to do this?

- Atom version: 1.39.1
- OS: Windows 10
- `asciidoc-pr

[2019-08-13 09:40] Mogztter commented on #298
As a workaround you can define the `attachmentsdir`, `examplesdir`, `imagesdir` and `partialsdir` attributes:

![Capture d’écran 2019-08-13 à 11 32 23](https://user-images.githubusercontent.com/333276/62931365-87b91380-bdbe-11e9-8015-f4cc69a3c86c.png)

It's also possible to include the attributes in each document using the `include` directive:

![Capture d’écran 2019-08-13 à 11 34 32](https://

[2019-08-13 16:02] KLynn2019 commented on #298
That did it! Thank you very much for your help.

[2019-08-13 16:02] #298 closed

[2019-08-27 09:40] damgot commented on #39
Hello,
Readme file says : "If you want to customize the apparance of the preview, you can specify your own stylesheet in the settings."

I try to add '-a stylesheet="<path_to_my_CSS"' in package settings/Default attributes. but it doesn't work.

How can I customize the preview ? Thx for help :)

[2019-09-09 11:03] AndersonDev commented on #122
Any updates here?

[2019-09-09 11:18] AndersonDev commented on #298
Any native support? [Brackets](https://github.com/asciidoctor/brackets-asciidoc-preview) supports all of this. But I like Atom more. Please add this to some config!

[2019-09-09 18:40] Mogztter commented on #298
@AndersonDev As far as I know, you can manually configure the `imagesdir` in the preview for Adobe Brackets but it does not automatically resolve the `imagesdir` (ie. it does not automatically detect an Antora project) right ?

It's also possible to configure attributes in the settings page of this package:

![config-imagesdir](https://user-images.githubusercontent.com/333276/64557568-17ac9780-d34

[2019-10-18 10:52] Foadsf opened #299 "The foldable details summary div doesn't work"
## Description

The foldable directive doesn't work.

- Atom version: 1.40.1
- OS: Windows 10
- `asciidoc-preview` version: 2.13.1
- `language-asciidoc` version: 1.11.0

## Screenshots

the same code in both Atom and VSCode:

![2019-10-18_12-50-17](https://user-images.githubusercontent.com/12762442/67088621-e5deea00-f1a5-11e9-9dfe-355cb6f66818.gif)

## Syntax example

[code]

the original source c

[2019-10-18 11:07] Mogztter commented on #299
With the latest version of Asciidoctor you can write the following:

[code]

![collapse](https://user-images.githubusercontent.com/333276/67089552-36efdd80-f1a8-11e9-9981-aeffd1e98920.gif)

[2019-10-18 11:20] Foadsf commented on #299
So the former syntax is deprecated? I prefer not to touch that code at the moment!

[2019-10-18 11:33] Mogztter commented on #299
Yes.
Using passthrough to include raw HTML is not recommended because now your document is tightly coupled with the output.

[2019-10-18 11:54] Foadsf commented on #299
@Mogztter mentioned your point [here](https://stackoverflow.com/a/58450351/4999991) as well. That page, at least for me is the first google search result when searching for "asciidoc collapsible".

[2019-10-18 11:57] Mogztter commented on #299
Thanks! For reference it was introduced in Asciidoctor 2.0.0: https://github.com/asciidoctor/asciidoctor/releases/tag/v2.0.0

[2019-11-18 20:56] WyRe commented on #94
Well, I would like to know how is the status of this 2015 issue; I mean, I've read it all and I neither cannot locate the `Atom.app/contents/Resources/app/static`; even looking my package files located in `/usr/share/atom/` mainly. I can Imagine that maybe you are talking about a folder regarding to your app documentation, I mean in which you are working at that moment. But I don't really work on

[2019-11-20 13:04] rterekhov commented on #255
The issue is about support for filen in 'UTF-8 with BOM' encoding in preview (not export).
Preview works as expected for 'UTF-8 without BOM' files, but fails to render images for files saved with 'UTF-8 with BOM' encoding.

[2019-11-20 13:31] rterekhov commented on #255
Tested a bit more, and find out that it is not about images at all. The problem is that the first line of adoc document is not rendered properly because of BOM.

[2019-11-25 00:27] jaredmorgs opened #300 "Live Preview is not Antora compatible"
## Description

Improve the Atom Asciidoctor live preview so it supports the opinionated `include` directive module structure implemented in Antora.

- Atom version: 1.41.0 x64
- OS:
- `asciidoc-preview` version: 2.13.1
- `language-asciidoc` version: 1.11.0

## Screenshots

![image](https://user-images.githubusercontent.com/952793/69504365-d3f32280-0f6d-11ea-89cf-ec412f44c359.png)

## Syntax examp

[2019-11-30 02:08] Skilly commented on #122
Like @sylvek and @MrUzai, I too disagree with the assertion that this suggestion has low practical value. Quite the contrary; even Visual Studio Code supports plantuml embedded in asciidoctor

[2019-12-11 00:12] siddjain opened #301 "How to open the preview in a separate window or tab?"
## Description

Hello, is it possible to open the preview in a separate window or tab so that it takes up the full screen instead of being "left", "right", "up", "down" (default: "right")?

- Atom version: 1.41.0
- OS: Mac OS
- `asciidoc-preview` version:
- `language-asciidoc` version:

## Screenshots

Your screenshot.

## Syntax example

[code]

[2019-12-11 00:17] siddjain commented on #301
Yes it is possible to do this. You don't want two panes in this case. You want two tabs (like Chrome) and you can cycle through the tabs using `Cmd+Shift+]` - the same key stroke used to cycle through Chrome tabs. You can merge the pane by dragging it with a mouse to the other pane.

[2019-12-11 00:17] #301 closed

[2019-12-11 20:43] siddjain opened #302 "How to display blockdiag in asciidoc preview?"
## Description

Hello,

I have a blockdiagram (http://blockdiag.com/en/blockdiag/examples.html#simple-diagram) in my asciidoc. Example

blockdiag {
   A -> B -> C -> D;
   A -> E -> F -> G;
}

But this does not render in the asciidoc preview. How can I make it render in asciidoc preview? As I have lot of diagrams, I would like them to see in the preview before converting to PDF. I am able to see t

[2019-12-11 20:48] siddjain opened #303 "How to display stem content in asciidoc preview"
## Description

Unable to see stem content (https://asciidoctor.org/docs/user-manual/#activating-stem-support) in asciidoc preview for Atom. It works in Brackets though. How can I make it work in Atom please?

- Atom version: 1.41.0
- OS: Mac
- `asciidoc-preview` version: 2.13.1
- `language-asciidoc` version: 1.11.0

## Screenshots

Your screenshot.
<img width="171" alt="Screen Shot 2019-12-11 at

[2019-12-11 21:26] siddjain commented on #303
I have following packages installed

[code]

[2019-12-11 21:27] siddjain commented on #303
https://github.com/asciidoctor/atom-asciidoc-preview/issues/94

[2020-01-24 11:04] arcusbude opened #304 "no Preview, only "Loading AsciiDoc...""
## Description

When enabling Preview for a simple adoc i get only the "Loading AsciiDoc..." Sign. In Browser console i see a stacktrace:

[code]

- Atom version: 1.27.1 x64
- OS: Debian 9
- `asciidoc-preview` version: 2.13.1
- `language-asciidoc` version: 1.11.0

## Syntax example

[code]

[2020-01-30 15:59] adrianovieira opened #305 "Live preview doesn'r work for some languages"
## Description

Your description.

- Atom version: 1.43.0
- OS: Fedora-31
- `asciidoc-preview` version: 2.13.1
- `language-asciidoc` version: 1.11.0

## Screenshots

Your screenshot.
![Captura de tela de 2020-01-30 12-53-00](https://user-images.githubusercontent.com/5561794/73466038-0b13f480-4360-11ea-8f85-35ef0dac070d.png)

## Syntax example

[code]

[2020-02-27 00:22] xrayn commented on #94
On Arch Linux I did the following to get it MathJax to work properly.

`mkdir /opt/mathjax`
`cd /opt/mathjax`
`sudo npm install mathjax@2`

**NOTE: Do not use `npm install` inside of `/usr/lib/atom/node_modules/`. For me it deleted necessary packages.**

`sudo vim file:///usr/lib/atom/static/index.html`
[code]
NOTE: Alternatively, you can also use the directory `~/.atom/packages/asciidoc-preview/n

[2020-03-17 15:23] jaceklaskowski opened #306 "Uncaught TypeError: s.nodeName.toLowerCase is not a function"
## Description

This is a follow-up issue to https://github.com/atom/atom/issues/20520 that was closed as _"It appears that this is being caused by the asciidoc-preview package, not Atom itself."_

Steps to reproduce:

1. Create an asciidoc document with `[[nodeName]]` anchor
2. Toggle preview using Asciidoc Preview plugin

**Atom**: 1.45.0 x64
**Electron**: 4.2.7
**OS**: Mac OS X 10.15.3
**Thrown

[2020-03-17 17:08] ldez commented on #306
Hello,

I don't reproduce with 1.44.0 and for now I have an issue to install 1.45.0.

[2020-03-19 17:41] j-bezek-mabuhay opened #307 "Asciidoc preview does not load in Atom"
## Description
After updating Asciidoc-preview to 2.13.1 it stopped working - cannot load a file. Previous version worked ok

- Atom version: 1.26.1
- OS: Ubuntu 18.04.4
- `asciidoc-preview` version: 2.13.1
- `language-asciidoc` version: 1.11.0

## Screenshots
![not-loading](https://user-images.githubusercontent.com/47325895/77097413-0c34da00-6a11-11ea-87d3-411fc3018afc.png)
![console](https://use

[2020-03-19 19:23] ldez commented on #307
Hello,

could you update Atom to more recent version?

[2020-03-19 19:34] j-bezek-mabuhay commented on #307
1,45.0 x64 - issue resolved, asciidoc-preview loads. Please close the issu.
Sorry, I have not realized Atom is not update. Thanks!

[2020-03-19 19:34] #307 closed

[2020-04-10 23:33] GeBuCz commented on #94
I recognized that asciidoc with Atom should be ideal system for writing documentation for me, but formulas is very needed :(.

[2020-04-15 09:45] dquesadacr commented on #39
Hi! Are there any news on customizing the preview?
As @damgot  said, I tried to change the stylesheet without success.
A dark theme would be awesome!
Cheers!

[2020-05-25 12:41] tjallingran commented on #122
[kroki](https://kroki.io/) ([GitHub](https://github.com/yuzutech/kroki)) has support for rendering PlantUML. The [VS Code Asciidoctor](https://github.com/asciidoctor/asciidoctor-vscode) plugin uses that in combination with `Asciidoctor.js`, afaik.

Maybe that could work for `atom-asciidoc` as well.

That said, I write plantuml in separate files that I `!include` in my Asciidoc files, and I haven't

[2020-05-25 19:56] danyill commented on #122
FWIW include support in asciidoctor-kroki is quite close:
https://github.com/Mogztter/asciidoctor-kroki/pull/75

On Tue, May 26, 2020 at 12:41 AM tjallingran <notifications@github.com>
wrote:

--

--
Private or confidential message? Public Key available here
<https://pgp.mit.edu/pks/lookup?search=dan.mulholland%40gmail.com&op=index>
:

[2020-06-22 13:51] Aryanam84 opened #309 "plantuml mindmap leveloffset to include subnodes"
## Description

I have a big mindmap where i like to output just one subnode and include it in my document.

- Atom version: none
- OS: Windows 10
- `asciidoc-preview` version:
- `language-asciidoc` version:

## Screenshots

Your screenshot.
![grafik](https://user-images.githubusercontent.com/7318459/85295281-fadfeb80-b49f-11ea-9bb0-29c78f59885a.png)

## Syntax example

Plantuml with tag "thought1

[2020-06-22 14:32] #309 closed

[2020-08-11 08:55] yongce opened #311 "The option 'nowrap' is not supported"
See the official doc https://asciidoctor-docs.netlify.app/asciidoc/1.5/source/wrap/ .

The 'nowrap' is not supported by 'asciidoc-preview'.

[2020-09-29 11:18] ManuelLevi commented on #136
This is extremely important when editing large documents that need to be separated into different files for organization.

I personaly think that having the preview update everytime an included file is updated is a must not to break the flow of the writter.

[2020-10-15 03:20] netfreeperson opened #312 "The source tag does not preview properly when using the specified language,such as Java or Python"
## Description

The source tag does not preview properly when using the specified language,such as Java or Python

- Atom version: 1.52.0 x64
- OS: win10
- `asciidoc-preview` version: 2.13.1
- `language-asciidoc` version:1.11.0

## Screenshots

Your screenshot.
![image](https://user-images.githubusercontent.com/10592599/96073090-4b100d00-0ed8-11eb-9d0c-f1255df8d480.png)

## Syntax example

[code]

[2020-11-10 16:31] AlexanderKosnac commented on #303
I tend to use `:stem: latexmath` but I have the same problem.

Here are my packages:
[code]

Screenshot:

![screenshot](https://user-images.githubusercontent.com/40298922/98702271-791f2a80-237a-11eb-9a19-71d70fc0f81c.png)

[2020-12-30 13:23] refaelsh commented on #39
Just out of curiosity, did you tried it without the quotes?

[2020-12-30 13:29] refaelsh opened #313 "CSS customuzation in README"
Hi all,

The README says: `If you want to customize the apparance of the preview, you can specify your own stylesheet in the settings`, but does not says where and/or how. Please help.

Thanks.

[2020-12-31 19:00] refaelsh opened #314 "Specifying custom css file"
Hi,

The README file says : "If you want to customize the apparance of the preview, you can specify your own stylesheet in the settings".

So I added `stylesheet=mystylesheet.css` in package settings - in the `Default Attributes` field, but it doesn't work.
I still see the default stylesheet in the preview.

Thanks.

[2020-12-31 20:33] ldez commented on #314
duplicate of #313

[2020-12-31 20:33] #314 closed

[2021-02-18 11:15] mmacata commented on #304
I had the same problem with Atom 1.26.1. After an update of atom it is now working (to 1.54.0). `asciidoc-preview` is and was version 2.13.1.

[2021-03-08 07:05] mitm001 opened #315 "Code blocks blank in preview."
## Description

Code blocks started showing up in pre-veiw as if they were empty. i.e blank box. Used to work fine.

- Atom version: 1.54
- OS: windows 7
- `asciidoc-preview` version: 2.13.1
- `language-asciidoc` version: 1.11

## Screenshots

Your screenshot.

https://imgbox.com/WDAqGZZ7

## Syntax example

[code]

[2021-03-14 08:54] wimcnice commented on #94
Hi
I tried adding :stem: to asciidoc documents and the inline stem block, but the preview does not show any math.
I also tried the above Inpm install and modify the asciidoc-preview-view.coffe but it does not work.
Has anyone been able to make this work?

[2021-06-25 16:15] dfitzmau commented on #315
I'm experiencing this very issue with running Atom on a Linux system.

[2021-09-24 06:51] knowname commented on #315
Same here,  even for `[source,bash]`.

Atom 1.58.0 x64
OS: macOS 11.4
`asciidoc-preview` version 2.13.

<img width="604" alt="Bildschirmfoto 2021-09-24 um 08 50 47" src="https://user-images.githubusercontent.com/1724290/134630891-62428006-790b-433e-be50-b99439509fbe.png">
1

[2021-12-08 20:55] Siva4nortek commented on #315
Any update? Did this get resolved?

[2022-01-11 22:46] #72 closed

[2022-03-11 10:37] michelle-purcell commented on #315
Same here, even for [source,java].
Is there any update on how to resolve this issue in Atom? Thanks

[2022-05-20 10:15] Axelod opened #316 "HTMLDocument.registerElement is deprecated."
Use `customElements.define` instead of `document.registerElement` see https://javascript.info/custom-elements
[code]

[2022-11-22 13:12] PB-C opened #317 "Preview of Asciidoc File Shows Blank in Atom"
## Description

The preview of asciidoc files in atom display a blank page

- Atom version: 1.63.0 x64
- OS: Windows 11
- `asciidoc-preview` version: 2.13.1
- `language-asciidoc` version: 1.11.0

## Screenshots

![image](https://user-images.githubusercontent.com/118822913/203322021-409b3c73-d84c-408e-8fa8-85bffcb81ba8.png)

[code]

[2022-11-22 18:47] Mogztter opened #318 "Recommend alternatives and archive this project"
## Description

Since [GitHub/Microsoft has announced that they are sunsetting Atom](https://github.blog/2022-06-08-sunsetting-atom/), maybe we should recommend alternatives? This add-on served us well but I think we should focus our effort on:

- https://github.com/asciidoctor/asciidoctor-intellij-plugin
- https://github.com/asciidoctor/asciidoctor-vscode

What do you think?